{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center">Custom {{ name }}</h1>
    <body style="background-image: url('{{ asset('asset/1.jpg') }}'); background-size: 100%">

    </body>
{% endblock %}