{% extends 'base.html.twig' %}


{% block body %}
    <h1 style="color: black; text-align: center">Index</h1>
    <body style="background-image: url('{{ asset('asset/3.jpg') }}'); background-size: 100%">

    </body>
{% endblock %}